@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

main #celular {
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
} */

main iframe {
    width: 267px;
    height: 471px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

aside {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin: 10px 10px;
}

aside> a > img {
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: 1px -1px 6px 0px rgba(0, 0, 0, 0.521);


    width: 50px;
    height: 50px;
}

aside a > img:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
} 