@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

main {
    background-image: url(imagens/frame-iphone.png);
    width: 311px;
    height: 626px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main iframe {
    margin-left: 21px;
    display: flex;
    width: 268px;
    height: 471px;
    margin-top: 80px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin: 10px 10px;
}

aside> a > img {
    border: none;
    border-radius: 50px;
    box-shadow: 1px -1px 6px 0px rgba(0, 0, 0, 0.521);
    box-sizing: border-box;

    width: 50px;
}

aside a > img:hover {
    transform: translate(-3px, -3px);
    border: 2px solid rgba(255, 255, 255, 0.658);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    transition: transform .5s;
} 